@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
@media (max-width: 720.1px) {
  .app {
    padding: 20px;
  }
}
@media (max-width: 620.1px) {
  .app {
    padding: 0;
  }
}
.app .main-wrapper {
  background-color: #010449;
  color: #FFFFFF;
  padding: 60px 80px;
  border-radius: 20px;
  width: 1020px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
@media (max-width: 950.1px) {
  .app .main-wrapper {
    padding: 40px;
  }
}
@media (max-width: 620.1px) {
  .app .main-wrapper {
    border-radius: 0;
  }
}
.app .main-wrapper .top {
  display: grid;
  justify-content: start;
  align-items: center;
  row-gap: 10px;
  padding: 0 60px 40px 60px;
  border-bottom: 1px solid #171A5F;
}
@media (max-width: 950.1px) {
  .app .main-wrapper .top {
    padding: 0 0 40px 0px;
  }
}
.app .main-wrapper .top h3 {
  font-size: 24px;
}
.app .main-wrapper .top p {
  font-size: 16px;
}
.app .main-wrapper .content-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
}
@media (max-width: 950.1px) {
  .app .main-wrapper .content-wrapper {
    grid-template-columns: 1fr;
  }
}
.app .main-wrapper .content-wrapper .sidebar {
  padding: 0;
  display: grid;
  justify-content: end;
  align-items: center;
}
@media (max-width: 950.1px) {
  .app .main-wrapper .content-wrapper .sidebar {
    grid-template-columns: repeat(5, 1fr);
  }
}
.app .main-wrapper .content-wrapper .sidebar .sidebar-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  z-index: 999;
}
@media (max-width: 950.1px) {
  .app .main-wrapper .content-wrapper .sidebar .sidebar-item {
    grid-template-columns: 1fr;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
.app .main-wrapper .content-wrapper .sidebar .sidebar-item .sidebar-text-wrapper {
  display: grid;
  row-gap: 5px;
}
@media (max-width: 720.1px) {
  .app .main-wrapper .content-wrapper .sidebar .sidebar-item .sidebar-text-wrapper {
    display: none;
  }
}
.app .main-wrapper .content-wrapper .sidebar .sidebar-item .sidebar-text-wrapper .sidebar-text {
  font-size: 18px;
  font-weight: bold;
  text-align: end;
}
@media (max-width: 950.1px) {
  .app .main-wrapper .content-wrapper .sidebar .sidebar-item .sidebar-text-wrapper .sidebar-text {
    text-align: center;
    font-size: 15px;
  }
}
.app .main-wrapper .content-wrapper .sidebar .sidebar-item .sidebar-text-wrapper .sidebar-text-2 {
  font-size: 16px;
  text-align: end;
}
@media (max-width: 950.1px) {
  .app .main-wrapper .content-wrapper .sidebar .sidebar-item .sidebar-text-wrapper .sidebar-text-2 {
    text-align: center;
    font-size: 13px;
    white-space: nowrap;
  }
}
.app .main-wrapper .content-wrapper .sidebar .sidebar-item .sidebar-icon {
  width: 50px;
  background-color: #4A4A7F;
  padding: 10px;
  border-radius: 50%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1;
  margin: auto;
  cursor: pointer;
}
.app .main-wrapper .content-wrapper .sidebar .sidebar-item .sidebar-icon.active {
  background-color: #12ebff;
}
@media (max-width: 620.1px) {
  .app .main-wrapper .content-wrapper .sidebar .sidebar-item .sidebar-icon {
    width: 40px;
  }
}
.app .main-wrapper .content-wrapper .content {
  padding: 40px;
  border-left: 1px solid #171A5F;
}
@media (max-width: 950.1px) {
  .app .main-wrapper .content-wrapper .content {
    border-left: none;
    border-top: 1px solid #171A5F;
    padding: 40px 0;
  }
}

.page-wrapper-1 {
  margin-bottom: 30px;
}
.page-wrapper-1 .page-1 {
  display: grid;
  justify-content: start;
  align-items: center;
  row-gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #171A5F;
}
.page-wrapper-1 .page-1 p {
  font-size: 16px;
}
.page-wrapper-1 .page-1 h3 {
  font-size: 26px;
}
@media (max-width: 950.1px) {
  .page-wrapper-1 .page-1 h3 {
    font-size: 24px;
  }
}
@media (max-width: 620.1px) {
  .page-wrapper-1 .page-1 h3 {
    font-size: 22px;
  }
}
.page-wrapper-1 .page-1 h4 {
  font-size: 14px;
}

@media (max-width: 950.1px) {
  .page-wrapper-2 {
    overflow-x: hidden;
  }
}
.page-wrapper-2 .page-2 {
  display: grid;
  justify-content: start;
  align-items: center;
  row-gap: 30px;
}
.page-wrapper-2 .page-2 h4 {
  font-size: 14px;
}
.page-wrapper-2 .page-2 input {
  width: 200%;
  background-color: transparent;
  color: #FFFFFF;
  padding: 20px;
  border: 2px solid #1CC5D3;
  border-radius: 20px;
  outline: none;
  font-size: 16px;
}
.page-wrapper-2 .page-2 input::-moz-placeholder {
  color: #7a7a7a;
}
.page-wrapper-2 .page-2 input::placeholder {
  color: #7a7a7a;
}
@media (max-width: 720.1px) {
  .page-wrapper-2 .page-2 input {
    width: 150%;
  }
}
@media (max-width: 620.1px) {
  .page-wrapper-2 .page-2 input {
    width: auto;
  }
}
.page-wrapper-2 .page-2 .page-btn {
  width: 200%;
}
@media (max-width: 720.1px) {
  .page-wrapper-2 .page-2 .page-btn {
    width: auto;
  }
}
@media (max-width: 620.1px) {
  .page-wrapper-2 .page-2 .page-btn {
    width: 100%;
  }
}
.page-wrapper-2 .page-2 .page-btn button {
  color: #000000;
  background-color: #1CC5D3;
  padding: 15px 40px;
  border: none;
  border-radius: 30px;
  float: right;
  cursor: pointer;
  transition: all 0.4s ease;
  font-size: 18px;
  font-weight: bold;
}
.page-wrapper-2 .page-2 .page-btn button:hover {
  background-color: #12ebff;
}
@media (max-width: 720.1px) {
  .page-wrapper-2 .page-2 .page-btn button {
    float: left;
  }
}
@media (max-width: 620.1px) {
  .page-wrapper-2 .page-2 .page-btn button {
    float: initial;
    width: 100%;
  }
}/*# sourceMappingURL=styles.css.map */